#  Local .terraform directories
**/.terraform/*

**/.out/*
**/.env
**/.venv/*
**/venv/*
.DS_Store
**/.DS_Store
**/tfplan
shopizer-local/kubectl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

shopizer-local/k8s/keys/*
shopizer-local/operations/reports/*
postgres-data
